{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<style>
    .container {
        padding-left: 0px;
    }

    .content-section-a {
        padding: 50px 0;
        background-color: #f8f8f8
    }

    .content-section-b {
        padding: 50px 0;
        background-color: white
    }

    .contentbody>div>p {
        font-size: 14px;
        color: #808080;
        line-height: 1.64em;
        text-align: justify;
        /* font-family: Georgia, "Times New Roman", Times, serif */
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .contentbody>img {
        margin-bottom: 10px;
    }

    .contentbody>div>ul {
        font-size: 14px;
        color: #808080;
        line-height: 1.64em;
        text-align: justify;
        /* font-family: Georgia, "Times New Roman", Times, serif */
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 2em;
    }

    .footer p {
        color: gray;
        font-size: 100%;
    }
</style>
<div class="content-section-a">
    <div class="container contentbody">
        <div class="col-md-12">
            <!-- <h2>Introduction to Edgence</h2> -->
            <p style="font-size: 18px;"> Nowadays scalable IoT management is a bottleneck of IoT development due to the
                geographically dispersed
                distribution, fragmented ownerships, and ever-growing population of IoT devices. To intelligently manage
                massive decentralized applications (dApps) in IoT usecases, Edgence (EDGe + intelligENCE) uses edge
                clouds to access IoT devices and users, and then uses its in-built blockchain to realize self-governing
                and self-supervision of the edge clouds.
                <ul>
                    <li>Edgence proposes to use masternode technology to introduce IoT devices and users into a closed
                        blockchain system, which can extend the range of blockchain to IoT-based dApps.</li>
                    <li>Further, masternodes do good to scalability by raising the TPS (transactions per second) of the
                        blockchain network.
                    </li>
                    <li>
                        To support various dApps, a three-tier validation is proposed, namely script validation,
                        smartcontract validation, and masternode validation.
                    </li>
                    <li>To avoid energy consumption resulted by blockchain consensus, Edgence proposes a random but
                        verifiable way to elect a masternode to generate each new block.
                    </li>
                </ul>
            </p>
        </div>
        <!-- <div class="col-md-12" style="text-align: center">
            <img src="{{ url_for('main.static', filename='1.jpg') }}" class="center-block" style="width: 90%;">
        </div> -->
    </div>
</div>
<div class="content-section-b">
    <div class="container contentbody">
        <div class="col-md-5">
            <h2>Edgence platform</h2>
            <ul>
                <li>Decentralized Edgence platform running on edge clouds of mobile edge computing.</li>
                <li>Edgence units edge clouds provided by personals, and then IoT devices and users can obtain services
                    from the whole network from nearby edge cloud.</li>
                <li>Edgence platform are made of many masternodes.
                </li>
                <li>Each masternode is deployed on one edge cloud, and it hosts a blockchain node and a fixed amount of
                    fund as collateral.
                </li>
            </ul>
        </div>
        <div class="col-md-7">
            <img src="{{ url_for('main.static', filename='1.jpg') }}" class="img-responsive">
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container contentbody">
        <div class="col-md-7">
            <img src="{{ url_for('main.static', filename='2.jpg') }}" class="img-responsive">
        </div>
        <div class="col-md-5">
            <h2>Masternode layer as decentralized management</h2>
            <ul>
                <li>The set
                    of masternodes can be considered as another layer that is constructed on the
                    blockchain network layer.</li>
                <li>It connects IoT usecases to the blockchain network.</li>
                <li>Everyone can join or leave the masternode layer at will, if she has an edge
                    cloud and a fixed amount of fund as collateral.</li>
            </ul>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container contentbody">
        <div class="col-md-5">
            <h2>Three-tier validation of Edgence</h2>
            <ul>
                <li>Every masternode of Edgence
                    contains a blockchain node and hardware resources, and can perform threetier
                    validation. </li>
                <li>Masternode network connect real world and blockchain, and
                    generate various IoT dApps.</li>
            </ul>
        </div>
        <div class="col-md-7">
            <img src="{{ url_for('main.static', filename='3.jpg') }}" class="img-responsive">
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container contentbody">
        <div class="col-md-7">
            <img src="{{ url_for('main.static', filename='4.jpg') }}" class="img-responsive">
        </div>
        <div class="col-md-5">
            <h2>Three-tier validation of Edgence</h2>
            <ul>
                <li>Every masternode of Edgence contains a blockchain node and hardware resources, and can perform
                    three-tier validation.
                </li>
                <li>Masternode network connect real world and blockchain, and generate various IoT dApps.</li>
            </ul>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container contentbody">

        <div class="col-md-5">
            <h2>Decentralized crowdsourcing that is engined by Edgence</h2>
            <ul>
                <li>It support decentralized AI training(① ② ③
                    ④),
                    AI augmenting(⑤ ⑥ ⑦ ⑧), and AI evolving(⑨ ⑩). </li>
                <li>An existing AI system can make use of a WebAPI of
                    crowdsourcing service provided by acrowdsourcing platform for better performance.</li>
                <li>The decentralized
                    crowdsourcing platform
                    runs on many of edge clouds ofmobile edge computing network or masternodes of Edgence.</li>
                <li>In this case
                    Edgence can provide
                    resources and management functions.</li>
            </ul>
            <!-- <p>It support decentralized AI training(① ② ③
                ④),
                AI augmenting(⑤ ⑥ ⑦ ⑧), and AI evolving(⑨ ⑩). An existing AI system can make use of a WebAPI of
                crowdsourcing service provided by acrowdsourcing platform for better performance. The decentralized
                crowdsourcing platform
                runs on many of edge clouds ofmobile edge computing network or masternodes of Edgence. And in this case
                Edgence can provide
                resources and management functions.</p> -->
        </div>
        <div class="col-md-7">
            <img src="{{ url_for('main.static', filename='usercases1.jpg') }}" class="img-responsive">
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container contentbody">
        <div class="col-md-7">
            <img src="{{ url_for('main.static', filename='usercases2.jpg') }}" class="img-responsive">
        </div>
        <div class="col-md-5">
            <h2>Decentralized AI training under the management of Edgence</h2>
            <ul>
                <li>Feed-propagation and back-propagation are two
                    ways
                    of
                    updating model parameters during AI training.</li>
                <li>The first
                    several layers
                    are trained at many edge clouds, which is to utilize the datasets of mobile users.</li>
                <li>The last several
                    layers
                    are trained
                    at a remote cloud center, which keeps communicating with edge clouds during the whole training.</li>
                <li>Edgence's
                    work is to
                    supervise all activities of edge clouds and remote cloud center.</li>
            </ul>
            <!-- <p>Feed-propagation and back-propagation are two
                ways
                of
                updating model parameters during AI training. One parameter layer is identified by one color. The first
                several layers
                are trained at many edge clouds, which is to utilize the datasets of mobile users. The last several
                layers
                are trained
                at a remote cloud center, which keeps communicating with edge clouds during the whole training.
                Edgence's
                work is to
                supervise all activities of edge clouds and remote cloud center.</p> -->
        </div>
    </div>
</div>
<script type="text/javascript" src="app/main/static/js/echarts.js"></script>
<script type="text/javascript" src="app/main/static/js/jquery.js"></Script>
<!-- <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script> -->
<script type="text/javascript" src="app/main/static/js/world.js"></script>
<div class="content-section-b">
    <div class="container">
        <div class='col-md-12'>
            <!-- <h3>MasterNodes of edgence</h3> -->
            <div id="main" style="width: 100%;height:350px;"></div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container contentbody">
        <div class="col-md-12">
            <h2>Publications</h2>
            <ul>
                <li>Jinliang. Xu, Shangguang. Wang, Bhargava. K. Bharat, Fangchun. Yang, A Blockchain-enabled Trustless
                    Crowd-Intelligence Ecosystem on Mobile Edge Computing,
                    IEEE Transactions on Industrial Informatics, 2019,
                    https://ieeexplore.ieee.org/document/8632682.
                </li>
                <li>
                    Jinliang Xu, Shangguang Wang, Ning Zhang, Fangchun Yang, Xuemin Shen, Reward or
                    Penalty: Aligning Incentives of Stakeholders in Crowdsourcing, IEEE Transactions on Mobile
                    Computing, 2018, Doi: 10.1109/TMC.2018.2847350[<a
                        href="http://sguangwang.com/PDF/TMCxu.pdf">PDF</a>]<a
                        href="http://sguangwang.com/Source%20code/SourceCodeFile.zip">[Source-code]</a>.
                </li>
                <li>
                    Shangguang. Wang, Jinliang. Xu, Ning. Zhang, Yujiong. Liu, A Survey on Service Migration
                    in Mobile Edge Computing, IEEE Access, vol. 6, no.1, pp. 23511-23528, 2018[<a
                        href="http://sguangwang.com/PDF/Service-Migration-Suvery.pdf">PDF</a>][<a
                        href="http://sguangwang.com/demo/ServiceMigration.mp4">Demo</a>].
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="col-md-6">
            <img src="{{ url_for('main.static', filename='hezhao_mini.jpg') }}" class="img-responsive">
        </div>
        <div class="col-md-6">
            <script type="text/javascript" id="clustrmaps"
                src="//cdn.clustrmaps.com/map_v2.js?d=suiFmX1wgIFQDaQ7c4nDtAEKrKv9DP8MEb4gLDBfano&cl=ffffff&w=a"></script>
        </div>
    </div>
</div>
<div class="content-section-a footer">
    <div class="container">
        <img src="{{ url_for('main.static', filename='xiaohui.jpg') }}" width=250px style="float:left;margin-right: 100px">
        <p style="font-size:200%;margin-bottom:40px;color: black"> Affiliation and Foundation </p>
        <p>● State Key Laboratory of Networking and Switching Technology</p>
        <p>&nbsp;&nbsp;&nbsp;Beijing University of Posts and Telecommunications, China</p>
        <p>● Supported by National Key R&D Program of China (Grant No.2018YFB1004800)</p>
        <p>● Contact us: <a href="http://www.jinliangxu.com//cv/ ">Ph.D candidate Jinliang Xu</a>, <a
                href="http://www.sguangwang.com/">Prof. Shangguang Wang</a></p>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var ipToLocation = function () {
        $.ajax({
            url: '/getServerInfoList',
            type: 'get',
            dataType: 'json',
            success: function (resp) {
                var data = [],
                    geoCoordMap = {},
                    location = [];
                for (let i = 0; i < resp.length; i++) {
                    // data[i] = { name: resp[i].city, value: 100 };
                    location[i] = resp[i].city;
                    geoCoordMap[resp[i].city] = [resp[i].longitude, resp[i].latitude];

                }

                var location_name = [];
                for (let i = 0; i < location.length; i++) {
                    if (location_name.indexOf(location[i]) == -1) {
                        location_name.push(location[i])
                    }
                }
                var location_count = new Array(location_name.length);
                for (let t = 0; t < location_count.length; t++) {
                    location_count[t] = 0;
                }
                for (let p = 0; p < location_name.length; p++) {
                    for (var j = 0; j < location.length; j++) {
                        if (location_name[p] == location[j]) {
                            location_count[p]++;
                        }
                    }

                }
                for (let m = 0; m < location_name.length; m++) {
                    console.log(location_name[m] + "重复的次数为：" + location_count[m]);
                    data[m] = { name: location_name[m], value: 70 * location_count[m] };
                }


                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));

                var convertData = function (data) {
                    var res = [];
                    for (var i = 0; i < data.length; i++) {
                        var geoCoord = geoCoordMap[data[i].name];
                        if (geoCoord) {
                            res.push({
                                name: data[i].name,
                                value: geoCoord.concat(data[i].value)
                            });
                        }
                    }
                    return res;
                };
                console.log(data);
                option = {
                    backgroundColor: '#404a59',
                    title: {
                        text: 'MasterNodes',
                        subtext: 'masternodes of Edgence across the world',
                        sublink: 'http://www.edgence.org',
                        left: 'center',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        orient: 'vertical',
                        y: 'bottom',
                        x: 'right',
                        data: ['server'],
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    geo: {
                        zoom: 2,
                        map: 'world',
                        label: {
                            emphasis: {
                                show: false
                            }
                        },
                        roam: true,
                        itemStyle: {
                            normal: {
                                areaColor: '#323c48',
                                borderColor: '#111'
                            },
                            emphasis: {
                                areaColor: '#2a333d'
                            }
                        }
                    },
                    series: [
                        {
                            name: 'server',
                            type: 'scatter',
                            coordinateSystem: 'geo',
                            data: convertData(data),
                            symbolSize: function (val) {
                                return val[2] / 10;
                            },
                            label: {
                                normal: {
                                    formatter: '{b}',
                                    position: 'right',
                                    show: false
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#ddb926'
                                }
                            }
                        },
                        {
                            name: '',
                            type: 'effectScatter',
                            coordinateSystem: 'geo',
                            // data: convertData(data.sort(function (a, b) {
                            //     return b.value - a.value;
                            // }).slice(0, 6)),
                            data: convertData(data),
                            symbolSize: function (val) {
                                return val[2] / 10;
                            },
                            showEffectOn: 'render',
                            rippleEffect: {
                                brushType: 'stroke'
                            },
                            hoverAnimation: true,
                            label: {
                                normal: {
                                    formatter: '{b}',
                                    position: 'right',
                                    show: true
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#f4e925',
                                    shadowBlur: 10,
                                    shadowColor: '#333'
                                }
                            },
                            zlevel: 1
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            },
            error: function () {

            }
        });


    };
    ipToLocation();
</script>
{% endblock %}