<!DOCTYPE html>
{% extends "base.jinja" %}
{% block content %}

    <div class="columns">
      <div class="column" style="overflow-x:auto;">
        <table class="table is-striped is-narrow is-bordered">
          <tbody>
        {% if blockData %}
        {% for key in blockData['block_header']|sort %}
          <tr class="monoTable"><td>{{key}}</td><td>{{ blockData['block_header'][key] }}</td></tr>
        {% endfor %}
        {% else %}
          <tr><td>Err!</td><td>Err!</td><td>Err!</td><td>Err!</td></tr>
        {% endif %}
          </tbody>
        </table>  
      </div>
    </div>

    <div class="columns">
      <div class="column" style="overflow-x:auto;">
        <table class="table is-striped is-narrow is-bordered">
          <thead>
            <tr>
              <th>Block Transactions</th>
            </tr>
          </thead>
          <tbody>
        {% if blockData %}
        {% set height= blockData['block_header']['height'] %}
        {% for key in blockData['tx_hashes'] | sort %}
          <tr onclick="window.document.location='{{ url_for('explorer.txid',txid= key ,blockHeight= height ) }} '" ; class="monoTableClickable"><td>{{key}}</td></tr>
        {% endfor %}
        {% else %}
          <tr><td>Err!</td><td>Err!</td><td>Err!</td><td>Err!</td></tr>
        {% endif %}
          </tbody>
        </table>  
      </div>
    </div>

    <script type="text/javascript" src="http://momentjs.cn/downloads/moment.js"></script>
    <script type="text/javascript">

    window.onload = function timestamp2time() {

        $('tr.monoTable:last td')[0].textContent='time';

        let temp = $('tr.monoTable:last td')[1].textContent;
        temp = moment.unix(temp);
        $('tr.monoTable:last td')[1].textContent = temp;

    };

    </script>
{% endblock %}
