<!DOCTYPE html>
{% extends "base.jinja" %}
{% block content %}
<script type="text/javascript" src="//momentjs.cn/downloads/moment.js"></script>
<script type="text/javascript">

$(function() {
    $('form').each(function() {
        $(this).find('input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {
                this.form.submit();
            }
        });

        $(this).find('input[type=submit]').hide();
    });
});


window.onload = function timestamp2time() {
  
    var list = []; 
    list = $(".timestamp");
    for (let i=0; i<list.length; i++){
      let temp = $(".timestamp")[i].textContent;
      temp = moment.unix(temp);
      temp = moment().format('YYYY-MM-DD HH:mm:ss');
      $(".timestamp")[i].textContent = temp;
    }

};

</script>

    <div class="columns">
      <div class="column" style="overflow-x:auto;">
       <form method='POST' action="{{url_for('explorer.expsearch')}}">
        <table class="table is-striped is-narrow">
          <thead>
            <tr>
              <th>Time(UTC)</th>
              <th>Block/Height</th>
              <th>TX Count</th>
              <th>Hash</th>
            </tr>
          </thead>
          <tbody>
        {% if blockList %}
          <tr class="monoTable control"><td></td><td ><input name="blocksearch" class="input is-small is-primary submit_on_enter" type="text" placeholder="Block# Search..." ></td></tr>
        {% for key in blockList %}
          <tr onclick="window.document.location='{{ url_for('explorer.block',block=key['block_header']['height'] ) }}';" class="monoTableClickable"><td class="timestamp">{{key['block_header']['timestamp']}}</td><td>{{ key['block_header']['height'] }}</td><td>{{ key['tx_hashes']|length }}</td><td>{{ key['block_header']['hash'] }}</td></tr>
        {% endfor %}
        {% else %}
          <tr><td>Err!</td><td>Err!</td><td>Err!</td><td>Err!</td></tr>
        {% endif %}
          </tbody>
        </table>  
       </form>
      </div>
    </div>
{% endblock %}
