{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<style>
    .contentbody>p{
        font-size: 18px;
        font-family: Georgia, "Times New Roman", Times, serif
    }
    .contentbody>img{
        margin-bottom: 10px;
    }
    .footer p{
        color: gray;
        font-size: 100%;
    }
</style>
<div class="jumbotron ">
    <div class="container contentbody">
    <h2>Introduction to Edgence</h2>
    <p>Nowadays scalable IoT management is a bottleneck of IoT development due to the geographically dispersed distribution,
    fragmented ownerships, and ever-growing population of IoT devices. To intelligently manage massive decentralized
    applications (dApps) in IoT usecases, Edgence (EDGe + intelligENCE) uses edge clouds to access IoT devices and users,
    and then uses its in-built blockchain to realize self-governing and self-supervision of the edge clouds. Edgence
    proposes to use masternode technology to introduce IoT devices and users into a closed blockchain system, which can
    extend the range of blockchain to IoT-based dApps. Further, masternodes do good to scalability by raising the TPS
    (transactions per second) of the blockchain network. To support various dApps, a three-tier validation is proposed,
    namely script validation, smartcontract validation, and masternode validation. To avoid energy consumption resulted by
    blockchain consensus, Edgence proposes a random but verifiable way to elect a masternode to generate each new block. The
    potential of the tailored Edgence is shown by examples of decentralized crowdsourcing and AI training.</p>

    <img src="static/1.jpg" class="center-block">
    <p>Decentralized Edgence platform running on edge clouds of mobile
    edge computing. Edgence units edge clouds provided by personals, and then
    IoT devices and users can obtain services from the whole network from
    nearby edge cloud. Edgence platform are made of many masternodes. Each
    masternode is deployed on one edge cloud, and it hosts a blockchain node
    and a fixed amount of fund as collateral.</p>

    <img src="static/2.jpg" class="center-block">
    <p>Masternode layer as decentralized management in Edgence. The set
    of masternodes can be considered as another layer that is constructed on the
    blockchain network layer. It connects IoT usecases to the blockchain network.
    Everyone can join or leave the masternode layer at will, if she has an edge
    cloud and a fixed amount of fund as collateral.</p>

    <img src="static/3.jpg" class="center-block">
    <p>Three-tier validation of Edgence. Every masternode of Edgence
    contains a blockchain node and hardware resources, and can perform threetier
    validation. Masternode network connect real world and blockchain, and
    generate various IoT dApps.</p>

    <img src="static/4.jpg" class="center-block">
    <p>Three steps of validator election in Edgence. Validator election of a blockchain concerns its operational
    efficiency and use-cost. More specifically, a better validator
    election method of Edgence can reduce energy consumption in
    reaching consensus across all blockchain nodes, improve TPS,
    and lower the usage fee charged from users. Validator election
    must meet two essential properties, namely randomness (no
    one can predict the results in advance), and verification (no
    one can check the selected results). In Edgence, a simple verifiable method for random
    node selection in trustless self-organized network is designed,
    where masternodes’ private keys together with well-designed
    workflow contribute to the verifiability and randomness.</p>

    <h2>Usercases</h2>
    <img src="static/usercases1.jpg" class="center-block">
    <p>Decentralized crowdsourcing that is engined by Edgence, and it support decentralized AI training(① ② ③ ④), 
    AI augmenting(⑤ ⑥ ⑦ ⑧), and AI evolving(⑨ ⑩). An existing AI system can make use of a WebAPI of 
    crowdsourcing service provided by acrowdsourcing platform for better performance. The decentralized crowdsourcing platform 
    runs on many of edge clouds ofmobile edge computing network or masternodes of Edgence. And in this case Edgence can provide 
    resources and management functions.</p>

    <img src="static/usercases2.jpg" class="center-block">
    <p>Decentralized AI training under the management of Edgence. Feed-propagation and back-propagation are two ways of
    updating model parameters during AI training. One parameter layer is identified by one color. The first several layers
    are trained at many edge clouds, which is to utilize the datasets of mobile users. The last several layers are trained
    at a remote cloud center, which keeps communicating with edge clouds during the whole training. Edgence's work is to
    supervise all activities of edge clouds and remote cloud center.</p>
    </div>
</div>
<div class="jumbotron">
    <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=suiFmX1wgIFQDaQ7c4nDtAEKrKv9DP8MEb4gLDBfano&cl=ffffff&w=a"></script>
</div>
<div class="jumbotron footer">
    <div class="container">
        <img src="static/xiaohui.jpg" width=250px style="float:left;margin-right: 100px">
        <p style="font-size:200%;margin-bottom:40px;color: black"> Affiliation and Foundation </p>
        <p>● State Key Laboratory of Networking and Switching Technology</p>
        <p>&nbsp;&nbsp;&nbsp;Beijing University of Posts and Telecommunications, China</p>
        <p>● Supported by National Key R&D Program of China (Grant No.2018YFB1004800)</p>
        <p>● Contact us: Ph.D candidate Jinliang Xu, Prof. Shangguang Wang</p>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}



