{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="jumbotron">
    <div class="container">
    <h2>Welcome to edgence.org</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <img src="static/xiaohui.jpg" width=250px style="float:left;margin-right: 100px">
        <p style="font-size:200%;margin-bottom:40px"> Affiliation and Foundation </p>
        <p style="font-size:100%;color:gray">● State Key Laboratory of Networking and Switching Technology</p>
        <p style="font-size:100%;color:gray">&nbsp;&nbsp;&nbsp;Beijing University of Posts and Telecommunications, China</p>
        <p style="font-size:100%;color:gray">● Supported by National Key R&D Program of China (Grant No.2018YFB1004800)</p>
        <p style="font-size:100%;color:gray">● Contact us: Ph.D students Jinliang Xu, Prof. Shangguang Wang</p>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}



